.App {
  text-align: center;
  height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.Title {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(55, 0, 255);
  align-items: flex-start;
}

.App-header {
  background-color: #2664e0;
  height: 120px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 0, 0);
}

.App-footer {
  background-color: #2664e0;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-content {
  background-color: bisque;
  display: flex;
  height: 76%;
}

.sidebar {
  background-color: #2664e0;
  width: 16%;
  padding: 14px;
  margin: 14px 0px 14px 14px;
}

.content {
  background-color: #004109;
  width: 84%;
  padding: 14px;
  margin: 14px;
}

.article {
  background-color: #08fd00;
  padding: 14px;
  text-align: start;
  margin-top: 10px;
}